:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-grayish-blue: hsl(246, 25%, 77%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background: url("images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-color: var(--primary-red);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin-bottom: 4em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin: 5em 1em;
  text-align: center;
}

.page-description {
  font-size: 0.8em;
  font-weight: 400;
}

.try-free {
  background: var(--accent-blue);
  border-radius: 10px;
  padding: 1em 3em;
  font-size: 0.8em;
  font-weight: 400;
  color: var(--neutral-grayish-blue);
}

.try-free span {
  font-weight: 600;
  color: white;
}

input {
  display: block;
  width: 100%;
  padding: 1em;
  margin: 1em 0em;
  border: 1px solid var(--neutral-grayish-blue);
  border-radius: 5px;
  font-weight: 700;
}

.form-plus-tc {
  background-color: white;
  border-radius: 10px;
  padding: 2em;
}

.t-and-c {
  color: var(--neutral-grayish-blue);
  font-size: 0.7em;
  font-weight: 500;
}

.red-color {
  color: var(--primary-red);
  font-weight: 600;
  cursor: pointer;
}

.btn {
  padding: 1em 2em;
  width: 100%;
  background-color: var(--primary-green);
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(154, 59%, 70%);
}

.error-text {
  color: var(--primary-red);
  font-size: 0.6em;
  text-align: right;
  position: relative;
}

.invisible {
  display: none;
}

.error-text::before {
  content: url("images/icon-error.svg");
  position: absolute;
  z-index: 3;
  right: 1em;
  top: -4.8em;
}

@media (min-width: 900px) {
  body {
    padding: 2em 4em;
    background: url("images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-color: var(--primary-red);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .header {
    text-align: left;
    width: 40%;
    margin: 0;
  }
  
  .header h2 {
    font-size: 2em;
    margin-bottom: 0;
    max-width: 310px;
  }
}
